* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.navbar{
display: flex;
align-items: center;
 background-color: black;
}
.name{
flex-grow: 3;
line-height: 1.7;
text-align: right;
font-size: 40px;
font-weight: bold;
color: red;
cursor: pointer;
font-family: 'Bebas Neue', sans-serif;
padding-right: 35px;

}
.list{
flex-grow: 11;

}
.Devops{ 
  flex-grow: 2;
padding: 0;
margin: 0;
}

.list2{
flex-grow: 3;

}
a{
    text-decoration: none;
    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-weight: lighter;
    font-size: 14px;
    color: white;
    display: block; /*to make the link to take full space in list area*/
    padding: 10px;
    opacity: 0.8;
    transition: opacity 0.3s ease;
}
ul{
    list-style-type: none;
    display: flex;
}

a:hover {
  opacity: 0.5;
  cursor: pointer;
}
#searchbox{
  width: 0;
  opacity: 0;
  transition: width 0.3s ease, opacity 0.3s ease;
}

#searchbox.active{
  width: 180px;
  height: 25px;
  opacity: 1;
  border: 2px solid white;
}

